<!DOCTYPE html>
<html>
<head>
	<title>clubs</title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="">
</head>
<body>
	<div class="container">
		<h4 class="justify-content-center" style="text-align: center;">Clubs of CS Department</h4>
		<div class="jumbotron pt-2">
			<div class="justify-content-center col-md-8 w-100 d-block thumbnial">
		        <img src="./assets/images/lcc.jpeg" class="thumbnial px-2 pb-2 mx-2" style="float: left; height:200px; width:150px; ">
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		        <a href="#">www.lccsjce.in</a>
			</div>
		</div>	
	</div>
<!-- 		<div class="justify-content-centre col-md-8">
        <img src="./assets/images/lcc.jpeg" class="thumbnial">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        <a href="#">www.lccsjce.in</a>
		</div>
		<div class="justify-content-centre col-md-8">
        <img src="./assets/images/lcc.jpeg" class="thumbnial">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        <a href="#">www.lccsjce.in</a>
		</div> -->
	<!-- </div> -->
	
</body>
</html>